<!DOCTYPE html>
<html lang="zh-cn">
  <head>
    <title>
      {% block title %}
        dangann.com
      {% endblock %}
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load static %}
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/normalize.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">
    <link rel="stylesheet" href="{% static "css/helper.min.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}">

    <link rel="stylesheet" href="{% static "css/blog.css" %}">
    <link rel="stylesheet" href="{% static "css/yue.css" %}">
    <link rel="stylesheet" href="{% static "css/zoom.min.css" %}">

    <script src="{% static "js/jquery-3.2.0.min.js" %}"></script>
    <script src="{% static "js/tether.min.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/nprogress.js" %}"></script>
    <script src="{% static "js/transition.min.js" %}"></script>
    <script src="{% static "js/zoom.min.js" %}"></script>

    {% block head %}
    {% endblock %}
  </head>

  <body>
    {% include "partials/navbar.html" %}

    {% block content %}
    {% endblock %}

    {% include "partials/footer.html" %}

    {% block pagejs %}
    {% endblock %}
  </body>
</html>
