{% extends "partials/base.html" %}

{% block title %}
    dangann.com | Coffice
{% endblock %}

{% load static %}
{% block head %}
  <link rel="stylesheet" href="{% static "css/datatables/dataTables.bootstrap4.min.css" %}">
  <script src="{% static "js/datatables/jquery.dataTables.min.js" %}"></script>
  <script src="{% static "js/datatables/dataTables.bootstrap4.min.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="container mt20" hidden="">
    {% include "partials/flash.html" %}
  </div>

  <div class="container mt30" style="margin-bottom: 100px">
    <div class="card">
      <h3 class="card-header text-center">所有地点<small>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp数据来自 <a href="https://github.com/ElaWorkshop/awesome-cn-cafe">ElaWorkshop/awesome-cn-cafe</a></small></h3>
      <div class="card-block">
        <div class="text-center">
          <a href="/new_coffice/" class="btn btn-primary mr10"><span class="fa fa-map-marker mr5"></span>提交新地点</a>
        </div>
        <div>
          <table id="alldata-table" class="table table-bordered mb10 datatable" cellspacing="0" width="100%"></table>
        </div>
        <div class="container datatable-notify" hidden="">
          <p class="mt5">请在桌面浏览器或 iPad 浏览器上查看表格以获得最佳体验。</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}


{% block pagejs %}
  <script>
    NProgress.start()
    $.getJSON('/api/v1/spots/?format=json', function(rsp) {
      if (rsp) {
        var dataSet = rsp
      }
      $('#alldata-table').DataTable({
        'data': dataSet,
        'columns': [{
          'data': 'id',
          'title': '#'
        }, {
          'data': 'city',
          'title': '城市'
        }, {
          'data': 'name',
          'title': '名称'
        }, {
          'data': 'google_map_link',
          'title': 'google_map_link'
        }, {
          'data': 'download_speed',
          'title': '下载速度'
        }, {
          'data': 'price_indication',
          'title': '参考价格'
        }, {
          'data': 'commit_user_name',
          'title': '提交者'
        }, {
          'data': 'commit_message',
          'title': '评论'
        }],
        "columnDefs": [
            {
                "render": function ( data, type, row ) {
                    if(type === 'display'){
                       return $('<a>')
                          .attr('href', row['google_map_link'])
                          .attr('target','_blank')
                          .text(data)
                          .wrap('<div></div>')
                          .parent()
                          .html();

                    } else {
                       return data;
                    }
                },
                "targets": 2
            },
            { "visible": false,  "targets": [ 3 ] }
        ],
        'autoWidth': true,
        'paging': true,
        'ordering': false,
        'info': true,
        'searching': true,
        'lengthMenu': [
          [20, 50, 100, -1],
          [20, 50, 100, '全部']
        ],
        'language': {
          'lengthMenu': '每页 _MENU_ 条记录',
          'zeroRecords': '无记录',
          'info': '第 _PAGE_ 页，共 _PAGES_ 页',
          'infoEmpty': '无记录',
          'infoFiltered': '(从 _MAX_ 条记录中过滤)',
          'search': '搜索：',
          'emptyTable': '这张表中没有数据',
          'loadingRecords': '加载中...',
          'processing': '处理中...',
          'paginate': {
            'first': '第一页',
            'last': '末页',
            'next': '下一页',
            'previous': '上一页'
          }
        }
      })

      $('#alldata-table_paginate').on('click', function() {
        $("html, body").animate({ scrollTop: 0 }, "slow")
      })
    })
    NProgress.done()
  </script>
{% endblock %}
