<!DOCTYPE html>
<html lang="zh-cn">

<head>
    <title>单干 - 自由职业者社区</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="单干 - 自由职业者社区">
    <meta name="keyword" content="自由职业, 自由职业者社区">
    <meta name="author" content="Chen Jian / Jiang Nan">

    <!-- Custom Fonts -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> -->
    <!-- <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,400italic,700' rel='stylesheet' type='text/css'>


    <!-- Bootstrap Core CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "css/font-awesome.min.css" %}">

    <!-- Plugin CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/magnific-popup.min.css" %}">

    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="{% static "landing/css/creative.min.css" %}">

    <!-- zoom.js -->
    <!-- <link rel="stylesheet" href="{% static "css/zoom.min.css" %}"> -->
</head>

<body id="page-top">

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="border-bottom-width: 0px;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="color: white">
                    <span class="mr20"></span> 单干 - 自由职业者社区
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">微信公众号</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">单干小雷达</a>
                    </li>
                    <!-- <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li> -->
                    <li>
                        <a class="page-scroll" href="#contact">联系我们</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <img src="{% static "landing/img/logo.png" %}" width="200" height="200">
                <!-- <h1>单干 - 自由职业者社区</h1> -->
                <p style="font-weight: 600; margin-top: 20px"></p>
                <!-- <a href="#" class="btn btn-primary btn-xl page-scroll">Find Out More</a> -->
            </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">单干 - 自由职业者社区</h2>
                    <hr class="light">
                    <p class="text-faded">这是面向IT业者、设计师、自由撰稿人等所有喜欢自由职业状态人群的社区。更推荐使用我们的小程序“单干小雷达”帮你快速找到附近咖啡馆、共享办公空间等最适合工作的地点，让你效率爆表；也可以看看还有谁在附近工作，一起和杯咖啡交个朋友也是很惬意的事。</p>
                    <button id="wechat-public-account" type="button" class="btn btn-default btn-xl sr-button" data-toggle="modal" data-target="#exampleModal">
                      微信公众号
                    </button>
                </div>
            </div>
        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">单干小雷达</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-location-arrow text-primary sr-icons"></i>
                        <h3>查找</h3>
                        <p class="text-muted">快速查找附近适合办公的地点</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-share-square-o text-primary sr-icons"></i>
                        <h3>分享</h3>
                        <p class="text-muted">与好友分享</p>
                    </div>
                </div>
                <div class="col-md-12 text-center" style="margin-top: 40px">
                  <button id="wechat-mini-app" type="button" class="btn btn-primary btn-xl sr-button" data-toggle="modal" data-target="#exampleModal">
                    单干小雷达
                  </button>
                </div>
            </div>
        </div>
    </section>

    <!-- <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter popup-gallery">
                <div class="col-lg-4 col-sm-6">
                    <img src="{% static "landing/img/portfolio/fullsize/1.jpg" %}" class="img-responsive" alt="" data-action="zoom">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="{% static "landing/img/portfolio/fullsize/2.jpg" %}" class="img-responsive" alt="" data-action="zoom">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="{% static "landing/img/portfolio/fullsize/3.jpg" %}" class="img-responsive" alt="" data-action="zoom">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="{% static "landing/img/portfolio/fullsize/4.jpg" %}" class="img-responsive" alt="" data-action="zoom">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="{% static "landing/img/portfolio/fullsize/5.jpg" %}" class="img-responsive" alt="" data-action="zoom">
                </div>
                <div class="col-lg-4 col-sm-6">
                    <img src="{% static "landing/img/portfolio/fullsize/6.jpg" %}" class="img-responsive" alt="" data-action="zoom">
                </div>
            </div>
        </div>
    </section> -->

    <section id="contact" style="background-color: #f5f5f5">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">联系我们</h2>
                    <hr class="primary">
                    <p>欢迎给我们发送邮件，或者通过右下角 Live Chat 给我们发送消息，我们将尽快回复您。</p>
                </div>
                <div class="col-md-12 text-center">
                    <i class="fa fa-envelope-o fa-3x sr-contact"></i>
                    <p><a href="mailto:hello@dangann.com" target="_blank">hello@dangann.com</a></p>
                </div>
            </div>
        </div>
    </section>

    <aside class="bg-dark">
        <div class="container text-center">
            <footer id="footer" role="contentinfo">
                <div class="container">
                    <div class="row row-bottom-padded-sm">
                        <div class="col-md-12">
                            <p class="copyright text-center">© 2017 <a href="">BreakWire Lab</a>. All Rights Reserved. </p>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </aside>

    <div class="modal fade" id="wechat-public-account-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img src="{% static "/landing/img/wechat-public-account.jpg" %}" width="200" height="200">
            <p style="margin-bottom: 0px; margin-top: 20px">扫描二维码</p>
            <p>关注「单干」微信公众号</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="wechat-mini-app-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-body text-center">
            <img src="{% static "/landing/img/wechat-mini-app.jpg" %}" width="200" height="200">
            <p style="margin-bottom: 0px; margin-top: 20px">扫描二维码</p>
            <p>使用「单干小雷达」微信小程序</p>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery -->
    <script src="{% static "landing/js/jquery.min.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "landing/js/bootstrap.min.js" %}"></script>

    <!-- zoon.js -->
    <!-- <script src="{% static "js/transition.min.js" %}"></script> -->
    <!-- <script src="{% static "js/zoom.min.js" %}"></script> -->

    <!-- Plugin JavaScript -->
    <script src="{% static "landing/js/scrollreveal.min.js" %}"></script>
    <script src="{% static "landing/js/jquery.easing.min.js" %}"></script>
    <script src="{% static "landing/js/jquery.fittext.min.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "landing/js/creative.min.js" %}"></script>

    <!-- smalltalk JS -->
    <script src="https://embed.small.chat/T43U9BE22G5CHZUVV2.js" async></script>

    <script>
        $('#wechat-public-account').on('click', function() {
          $('#wechat-public-account-modal').modal('show')
        })
        $('#wechat-mini-app').on('click', function() {
          $('#wechat-mini-app-modal').modal('show')
        })
    </script>

</body>

</html>
